.idea/*
.HA_VERSION
.august.conf
.cloud/*
.config_entries.json
.ios.conf
.spotify-token-cache
.uuid
_ecosystem/appdaemon/secrets.yaml
_ecosystem/appdaemon/compiled/*
bravia.conf
harmony*.conf
home-assistant.log
home-assistant_v2.db*
known_devices.yaml
nest.conf
options.xml
OZW_Log.txt
phue*.conf
plex.conf
pyozw.sqlite
secrets.yaml
usps_cache.sqlite
zwcfg*.xml
zwscene.xml
*.pickle
customize/private.yaml
deps/*
tts/*
