.august.conf
.cloud/*
.devcontainer/*-local.sh
.HA_VERSION
.idea/*
.storage
.uuid
_ecosystem/appdaemon/secrets.yaml
_ecosystem/appdaemon/compiled/*
blueprints/
bravia.conf
customize.yaml
customize/private.yaml
deps/*
harmony*.conf
home-assistant.log
home-assistant_v2.db*
image/
nexia*.conf
plex.conf
secrets.yaml
